.main-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.momentum__column {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  padding: var(--main-padding);
}

.momentum__column > * {
  margin-top: 3rem;
}

.momentum__column > *:first-child {
  margin-top: 0;
}

.momentum__column__left {
  text-align: left;
}

.momentum__column__right {
  text-align: right;
  align-items: flex-end;
  justify-content: baseline;
}

@media screen and (max-width: 470px) {
  .main-wrap {
    flex-direction: column;
    justify-content: flex-start;
  }
  .momentum__column {
    width: 100%;
  }
  .momentum__column__right {
    text-align: left;
    align-items: flex-start;
    justify-content: left;
  }
}

h4 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

#greeting {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
}

#clock {
  font-size: 3rem;
}

#quote {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.1;
  /* width: 20rem; */
}
#quote > * {
  display: block;
}
#quote span {
  display: block;
  max-width: 22rem;
}
#quote i {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
}

.todo-container {
}
#todo-form {
}

#todo-form input {
  border-bottom: 1px solid #fff;
  font-size: 0.9rem;
  width: 13.5rem;
}

#todo-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-size: 0.9rem;
}

#todo-form input:focus {
  outline: none;
}

#todo-list {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  min-height: 6em;
  max-height: 50vh;
  overflow-y: scroll;
  width: 13.5rem;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

#todo-list li {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 0.6rem;
  position: relative;
  margin-bottom: 0.4rem;
}

#todo-list li#empty-todo {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  padding: 0;
}
#todo-list li#empty-todo::before {
  display: none;
}
#todo-list li::before {
  position: absolute;
  left: 0;
  top: calc(50% - 0.2rem / 2);
  display: block;
  content: "";
  width: 0.2rem;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 50%;
}

#todo-list span {
  display: block;
  margin-right: 0.3rem;
  max-width: calc(100% - 1.4rem);
  word-wrap: break-word;
}
#todo-list button {
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: inherit;
  cursor: pointer;
}
