.blur-img {
  position: fixed;
  z-index: -50;
  left: calc(50% - 150vw / 2);
  top: calc(50% - 150vh / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150vw;
  height: 150vh;
  overflow: hidden;
  /* background-color: #000; */
}
.blur-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  filter: blur(5px) saturate(0.5) contrast(0.6) brightness(0.7);
  opacity: 1;
}

.main-wrap {
  width: 80vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.09) 0px -12px 30px, rgba(0, 0, 0, 0.09) 0px 4px 6px,
    rgba(0, 0, 0, 0.09) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* border: 3px solid rgba(255, 255, 255, 0.8); */
}

.main-bg {
  width: inherit;
  height: inherit;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -20;
  filter: saturate(0.6) contrast(0.9) brightness(0.9);
}

.login-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: calc(50% - (20rem / 2));
  top: calc(50% - (20rem / 2));
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.7rem 2rem;
}

#login-form p {
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  font-weight: 100;
}

#login-form input {
  border-bottom: 1px solid #fff;
  text-align: center;
  font-weight: 200;
  padding: 0.3rem 0;
  letter-spacing: 0.1rem;
}

#login-form input:focus {
  outline: none;
}

#login-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#login-form button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.6rem;
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
}

.main-wrap {
  position: relative;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; */
}

.momentum__column {
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  padding: var(--main-padding);
}

.momentum__column > * {
  margin-top: 3rem;
}

.momentum__column > *:first-child {
  margin-top: 0;
}

.momentum__column__left {
  text-align: left;
  left: 0;
}

.momentum__column__right {
  right: 0;
  text-align: right;
  align-items: flex-end;
  justify-content: baseline;
}

@media screen and (max-width: 470px) {
  /* .main-wrap {
    flex-direction: column;
    justify-content: flex-start;
  }
  .momentum__column {
    width: 100%;
  }
  .momentum__column__right {
    text-align: left;
    align-items: flex-start;
    justify-content: left;
  } */
}

h4 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

#greeting {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
}

#clock {
}
.clock__hour-min {
  font-size: 3rem;
}
.clock__sec {
  display: block;
  font-size: 1rem;
}

#quote {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.1;
}
#quote > * {
  display: block;
}
#quote span {
  display: block;
  max-width: 22rem;
}
#quote i {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
}

.todo-container {
}
#todo-form {
}

#todo-form input {
  border-bottom: 1px solid #fff;
  font-size: 0.9rem;
  width: 13.5rem;
  font-weight: 200;
  letter-spacing: 0.04rem;
}

#todo-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-size: 0.9rem;
}

#todo-form input:focus {
  outline: none;
}

#todo-list {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  min-height: 6em;
  max-height: 50vh;
  overflow-y: auto;
  width: 13.5rem;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

/* 스크롤바 전체 기본 꾸미기 */
#todo-list::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

/* 스크롤바 막대 꾸미기 */
#todo-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#todo-list li:first-child {
  border-top: none;
}

#todo-list li#empty-todo {
  cursor: default;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  padding: 0;
}
/* #todo-list li#empty-todo::before {
  display: none;
} */
/* #todo-list li::before {
  position: absolute;
  left: 0;
  top: calc(50% - 0.2rem / 2);
  display: block;
  content: "";
  width: 0.2rem;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 50%;
} */
#todo-list input[type="checkbox"] {
  display: none;
}
#todo-list label {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 0.3rem;
  max-width: 70%;
  cursor: pointer;
}

#todo-list label.todo-crossed span {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.7);
}

#todo-list label i {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 0.5rem;
  /* width: 1rem;
  height: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

#todo-list span {
  word-wrap: break-word;
  text-align: left;
}
#todo-list button {
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: inherit;
  cursor: pointer;
  opacity: 0.6;
  /* font-family: "Dosis", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Outfit", sans-serif;
  /* font-family: "Noto Sans KR", sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
}

#geo {
  font-weight: 100;
}

#geo > * {
  display: block;
}

/* MOMENTUM__COLUMN__ABSOLUTE */
.momentum__column__absolute {
  z-index: -10;
  width: 100%;
  height: 100%;
}

#logo {
  position: absolute;
  left: 0;
  z-index: 2;
  top: var(--main-padding);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__welcome {
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: default;
}

.logo__link {
  letter-spacing: 0.3rem;
  display: block;
  font-size: 2rem;
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  position: relative;
}

.logo__link::before {
  display: block;
  content: "";
  height: 1px;
  width: 0;
  background-color: #fff;
  position: absolute;
  top: 2.4rem;
  transition: all 0.4s ease-in-out;
}

.logo__link:hover::before {
  width: 100%;
}

.logo__refresh {
  width: 100%;
  height: 2rem;
  overflow: hidden;
  text-align: center;
  margin-top: 1rem;
}

.logo__refresh span {
  display: block;
  font-weight: 100;
  font-size: 0.9rem;
  transform: translateY(-2rem);
  transition: all 0.4s ease-in-out;
  transition-delay: 0.2s;
}

.logo__link:hover .logo__refresh span {
  transform: none;
}

#today-date {
  /* font-family: "Dosis", sans-serif; */
  font-family: "Roboto Slab", serif;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: 'Outfit', sans-serif; */
  /* font-family: 'Noto Sans KR', sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
  position: absolute;
  bottom: var(--main-padding);
  right: var(--main-padding);
  font-size: 8rem;
  font-weight: 100;
}
