#quote {
  position: absolute;
  top: 5.5rem;
  right: var(--main-padding);
  font-size: 0.85rem;
  font-weight: 200;
  text-align: right;
  width: 50%;
  letter-spacing: 1px;
  line-height: 1.1;
}
#quote > * {
  display: block;
}

#quote i {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
}
