@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");
@import "reset.css";
@import "background.css";
@import "quotes.css";
@import "clock.css";

:root {
  --main-padding: 1.2rem;
}

.hidden {
  display: none;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 470px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
