@import "reset.css";
.hidden {
  display: none;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blur-img {
  position: fixed;
  z-index: -10;
  left: calc(50% - 150vw / 2);
  top: calc(50% - 150vh / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150vw;
  height: 150vh;
  overflow: hidden;
  /* background-color: #000; */
}
.blur-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  filter: blur(5px) saturate(50%) contrast(40%);
  opacity: 1;
}

#main-bg {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
